/**
 * Fire theme for reveal.js
 * Author: Based on Blood by Walther http://github.com/Walther
 *
 * Designed to be used with highlight.js theme
 * "monokai_sublime.css" available from
 * https://github.com/isagalaev/highlight.js/
 *
 * For other themes, change $codeBackground accordingly.
 *
 */

// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------

// Include theme-specific fonts

@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,700,300italic,700italic);

// Colors used in the theme
$flame: red;
$coal: #222;
$codeBackground: #23241f;
$mainColor: yellow;

$backgroundColor: $coal;

.slide-background-content {
    background-image: url("../fire.jpg");
}

.slides section {
    padding-right: 550px;
}

// Main text
$mainFont: Ubuntu,
'sans-serif';

// Headings
$headingFont: Ubuntu,
'sans-serif';
$headingTextShadow: 2px 2px 2px $coal;

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    text-transform: capitalize !important;
}

// h1 shadow, borrowed humbly from 
// (c) Default theme by Hakim El Hattab
$heading1TextShadow: 0 1px 0 #ccc,
0 2px 0 #c9c9c9,
0 3px 0 #bbb,
0 4px 0 #b9b9b9,
0 5px 0 #aaa,
0 6px 1px rgba(0, 0, 0, .1),
0 0 5px rgba(0, 0, 0, .1),
0 1px 3px rgba(0, 0, 0, .3),
0 3px 5px rgba(0, 0, 0, .2),
0 5px 10px rgba(0, 0, 0, .25),
0 20px 20px rgba(0, 0, 0, .15);

// Links
$linkColor: $flame;
$linkColorHover: lighten($linkColor, 20%);

// Text selection
$selectionBackgroundColor: $flame;
$selectionColor: #fff;

// Change text colors against dark slide backgrounds
@include light-bg-text-color(#222);


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

// some overrides after theme template import

.reveal p {
    font-weight: 300;
    text-shadow: 1px 1px $coal;
}

section.has-light-background {

    p,
    h1,
    h2,
    h3,
    h4 {
        text-shadow: none;
    }
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    font-weight: 700;
}

.reveal p code {
    background-color: $codeBackground;
    display: inline-block;
    border-radius: 7px;
}

.reveal small code {
    vertical-align: baseline;
}

.timeline {

    //Colors
    $black: #34435E;
    $white: #ffffff;

    min-width: 300px;
    max-width: 80%;
    margin: auto;

    p {
        font-size: 0.75em;
        line-height: 1.75em;
        border-top: 3px solid;
        border-image: linear-gradient(to right, red 0%, yellow 100%);
        border-image-slice: 1;
        border-width: 3px;
        margin: 0;
        padding: 40px;
        counter-increment: stage;
        position: relative;
        color: $black;

        span {
            display: block;
            font-size: 0.6em;
            line-height: 2em;
        }

        //numbers
        &:before {
            content: counter(stage);
            position: absolute;
            border-radius: 50%;
            padding: 10px;
            height: 1.25em;
            width: 1.25em;
            background-color: $black;
            text-align: center;
            line-height: 1.25em;
            color: $white;
            font-size: 1em;
        }
    }

    //odd number borders
    p:nth-child(even) {
        border-right: 3px solid;
        padding-left: 0;

        &:before {
            left: 100%;
            margin-left: -20px;
        }
    }

    //even number borders
    p:nth-child(odd) {
        border-left: 3px solid;
        padding-right: 0;

        &:before {
            right: 100%;
            margin-right: -20px;
        }
    }

    //handle first and last
    p:first-child {
        border-top: 0;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }

    p:last-child {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
}